body{
  background:linear-gradient(to right,#00dbde,#fc00ff);
  font-family:'Roboto Slab',serif;
}

.container{
  height:330px;
  width:1000px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  padding:20px;
  border:1px solid #00038C;
  box-shadow:0 0 9px 3px #fff;
   background:rgba(255,255,255,0.5);
  
}

.title{
  padding-top:20px;
  text-align:center;
  font-size:36px;
  text-transform:uppercase;
  color:black;
  font-family:bold;
}

.question{
  padding:20px;
  font-size:22px;
  background:white;
  border-radius:20px;
  margin:10px 0 10px 0;
  color:Black;
}
.option{
  width:470px;
  display:inline-block;
   padding:10px 0 10px 15px;
   vertical-align:middle;
   background:rgba(255,255,255,0.5);
   margin:10px 0 10px 0;
   color:#000;
     border-radius:20px;
}
.option:hover{
  background:green;
  color:#f6f6f6;
  }
  .next-butt{
    border:none;
    outline:none;
    background:rgba(255,255,255,0.5);;
    width:100px;
    height:35px;
    border-radius:20px;
    cursor:pointer;
    float:right;
    margin:10px;
    
  }
  .next-butt:hover{
  background:black;
  color:#f6f6f6;
  }
  .result{
    height:100px;
    text-align:center;
    font-size:75px;
    
  }
  .option input:checked.option{
    background:#00038C;
    color:#000;
  }
  